@using Models
@model System.Collections.Generic.List<Models.Order>

@{
    ViewBag.Title = "我的订单";
}
<style>
    .row {
        margin-left: 20px;
        margin-right: 20px;
    }

    .line-center {
        line-height: 50px;
        text-align: center;
    }

    .row input {
        width: 50px;
    }

    .list-group-item:hover {
        background: #27ae60;
    }

    .list-group-item div:first-child:hover {
        cursor: pointer;
    }
</style>

<div class="row thumbnail center">
    <div class="col-sm-12">
        <h1 class="text-center" style="margin-bottom: 30px">我的订单</h1>
    </div>
    <div class="col-sm-12 thumbnail">
        <div class="col-sm-3 line-center">订单编号</div>
        <div class="col-sm-2 line-center">订单状态</div>
        <div class="col-sm-2 line-center">商品总数 </div>
        <div class="col-sm-2 line-center">订单总价</div>
        <div class="col-sm-3 line-center">操作</div>
    </div>
    <div class="list-group">
        @foreach (Order order in Model)
        {
            <div class="col-sm-12  list-group-item">
                <a href="~/Home/OrderInfo?orderId=@order.id">
                    <div class="col-sm-3 line-center" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">@order.ordernum</div>
                </a>
                <div class="col-sm-2 line-center">@(order.status==0?"未付款":"已付款")</div>
                <div class="col-sm-2 line-center">@order.num </div>
                <div class="col-sm-2 line-center">@order.price 元</div>
                <div class="col-sm-3 line-center">
                    <a href="~/Home/DelOrder?orderId=@order.id" class="btn btn-danger" onclick="delOrder(@order.id)">删除订单</a>
                    @if (order.status == 0)
                    {
                        <a href="~/Home/OrderInfo?orderId=@order.id" class="btn btn-success">提交订单</a>
                    }
                    

                </div>
            </div>
        }
    </div>
</div>